<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="../assets/MARMS.png">
</div>
<h2>Here are some links I like: </h2>
<ul>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.reddit.com/r/fountainpens/">The fountain pens subreddit. Fancy pens are fun.</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://learn.unity.com/">Unity's learning site. Make you a video game.</a></h3>
  </li>
  <li>
    <h3><a target="_blank" rel="noopener" href="https://www.launchcode.org/">LaunchCode's website! Because their program is great.</a></h3>
  </li>
</ul>

