.chores {
    color: #ff4f33;
}

.doneChores {
    color: #3c79b8;
}

.iceCream {
    color: magenta;
    text-align: center;
}

h3 {
    text-align: center;
}

img {
    max-width: 15%;
    height: auto;
    display: block;
    margin: auto;
}

#workHarder {
    color: rgb(163, 137, 22);
    text-align: center;
}

#noAllowance {
    text-align: center;
}